<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FeeL-IT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([0,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([0,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([0,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([1,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([1,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([1,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([2,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([2,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([2,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([3,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([3,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([3,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([4,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([4,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([4,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([5,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([5,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([5,2])"></ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([6,0])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([6,1])"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color = "dark" expand = "full" size = "large" (click) = "vibrate([6,2])"></ion-button>
    </ion-col>
  </ion-row>
</ion-content>

